<%= form_for book.reviews.build, html: { class: "review-form" } do |f| %>
  <%= f.text_area :text, placeholder: "Katakan opini anda tentang buku ini",
    class: "form-control" %>
  <%= f.hidden_field :book_id %>
  <%= f.submit "Kirim review", class: 'btn btn-default' %>
  <div class='clearfix'></div>
<% end %>
