<% if reviews.exists? %>
  <ul class='reviews'>
    <% reviews.order('created_at desc').each do |review| %>
      <% next unless review.persisted? %>
        <li class='review-head'>
          <span class='review-reviewer'><%= review.reviewer.name %></span>
          <span class='review-star'><%= review.star %></span>
        </li>
        <li class='review-content'>
          <%= simple_format review.text %>
        </li>
    <% end %>
  </ul>
<% else %>
  <p>Belum ada review yang tertulis</p>
<% end %>
