<div class="col-sm-4">
    <div class="thumbnail item-card">
       <div class="caption thumbnail-header">
          <h4>Sherlock Holmes</h4>
          <h5>29.000</h5>
       </div>
       <div class="thumbnail-image">
          <%= image_tag "sherlock1.jpg", width: 150, height: 190 %>
       </div>
       <div class="caption thumbnail-description">
          <p>
            Buku ini merupakan kumpulan dari 4 buku petualangan
            terbaik Sherlock Holmes, berisi 48 kisah misterius
            yang akan memuaskan para Sherlockian
          </p>
       </div>
    </div> <!-- thumbnail -->
 </div> <!-- col per thumbnail -->
