<div class='container-fluid checkout-container'>
  <div class='row fill'>
    <div class='checkout-container-wrapper'>
      <section id='checkout-form-container' class='col-xs-12 col-sm-7'>
        <%= render 'checkout_form_container' %>

        <%= link_to carts_path, class: "back-cart-link" do %>
          <span class='glyphicon glyphicon-arrow-left'></span>
          <span>Kembali ke keranjang belanja</span>
        <% end %>
      </section>

      <aside id='checkouted-items' class='col-sm-5'>
        <%= render 'checkouted_items', cart: @cart %>
      </aside>
    </div>
  </div>
</div>

<style type='text/css'>
  html, body { height: 100%; }
  body { overflow-x: hidden; }
</style>
