/*
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.inline-block { display: inline-block; }
.center-text { text-align: center; }
.number-field { max-width: 44px; }
.book-preview { display: inline-block; }

.item-card {
  padding: 0px;
}

.item-card .thumbnail-header {
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  margin-bottom: 20px;
}

.item-card .thumbnail-description {
  padding: 15px;
  margin-top: 10px;
  text-align: justify;
}

.item-card .thumbnail-image {
  height: 185px;
  text-align: center;
}
