/*
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 *= require jquery.rateyo.min.css
 */

.inline-block { display: inline-block; }
.center-text { text-align: center; }
.number-field { max-width: 44px; }
