/*
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 *= require jquery.rateyo.min.css
 *= require credit_card_field
 */

.inline-block { display: inline-block; }
.center-text { text-align: center; }
.number-field { max-width: 44px; }

/* cool name for 'hidden' voluntarily */
.spaceless {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  width: 2px;
  height: 2px;
  margin: -2px;
  overflow: hidden;
  padding: 0;
  position: absolute
}

.form-frame {
  margin-bottom: 15px;
}

.form-frame h3 {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 1.15em;
}

.form-group label {
  font-weight: normal;
}
