.checkout-container.container-fluid,
.checkout-container #checkout-form-container,
.checkout-container #checkouted-items
{ height: 100%; }

.checkout-container *:before, 
.checkout-container *:after 
{ display: none; }

.checkout-container.container-fluid:before {
  content: '';
  display: block;
  float: left;
  height: 100%;
}

.checkout-container .fill {
  position: relative;
}

.checkout-container .fill:after {
  content: '';
  display: block;
  clear: left;
}

.checkout-container .checkout-container-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

#checkout-form-container {
  float: left;
  position: static;
  background: white;
}

#checkouted-items {
  position: static;
  background: #f6f6f6;
  display: none;
}

/* this css in between is specific for _checkouted_items partial */
#checkouted-items .billing-summary {
  margin: 30px 0px;
}

#checkouted-items .billing-summary h3 {
  font-size: 1.2em;
  border-bottom: 1px dotted gray;
}

#checkouted-items .billing-summary table td {
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

#checkouted-items .billing-summary table td.content-col {
  width: 70%;
  text-align: right;
}

@media (min-width: 768px) {
  #checkouted-items { display: block; }
}

/* the css above is specific for _checkouted_items partial */

/* this css in between is specific for _checkout_form_container partial */
#checkout-form-container .form-frame.order-summary { display: none; }

@media (max-width: 768px) {
  #checkout-form-container .form-frame.order-summary { display: block; }
}

#checkout-form-container .back-cart-link {
  font-size: 1.2em;
  font-weight: normal;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media(min-width: 992px) {
  #checkout-form-container .form-frame .row .col-md-4
  {
    padding-left: 3px;
    padding-right: 3px;
  }

  #checkout-form-container .form-frame .row .col-md-6:first-child,
  #checkout-form-container .form-frame .row .col-md-4:first-child
  {
    padding-left: 15px;
    padding-right: 3px;
  }

  #checkout-form-container .form-frame .row .col-md-6:last-child, 
  #checkout-form-container .form-frame .row .col-md-4:last-child
  {
    padding-left: 3px;
    padding-right: 15px;
  }
}

#checkout-form-container form .form-group {
  margin-bottom: 6px;
}

/* fix the positioning of card icon for CC field */
#checkout-form-container .payment-form-frame .credit-card-field
.card-type-icon.show {
  top: -28px;
  margin-bottom: -28px;
  right: 7px;
  float: right;
  display: inline-block !important; /* override bootstrap show rule */
  position: relative;
}

/* the css above is specific for _checkout_form_container partial */
