<!DOCTYPE html>
<html>
<head>
  <title>Bukuniku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default"> <!-- navigation bar -->
   <div class="container-fluid">
      <!-- Brand and toggle get grouped for a better mobile display -->
      <div class="navbar-header">
         <button type='button' class='navbar-toggle collapsed'
            data-toggle='collapse' aria-expanded='false'
            data-target='#bs-example-navbar-collapse-1'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
         </button>
         <a href='#' class='navbar-brand'>Bukuniku</a>
      </div> <!-- navbar header -->

      <!-- Collect the nav links, forms, and other content -->
      <div class='collapse navbar-collapse'
         id='bs-example-navbar-collapse-1'>
         <ul class='nav navbar-nav'>
            <li>
               <a href='#' class='nav-link'>Order History</a>
            </li>
         </ul>

         <ul class='nav navbar-nav navbar-right'>
            <li>
               <a href='#'>Cart</a>
            </li>
            <li>
               <li class='dropdown'>
                  <a href='#' class='dropdown-toggle' role='button'
                    data-toggle='dropdown' aria-haspopup='true'
                    aria-expanded='false'>
                     Wendy
                     <span class='caret'></span>
                  </a>
                  <ul class='dropdown-menu'>
                     <li>
                        <a href='#' class='nav-link'>Edit Profile</a>
                     </li>
                     <li>
                        <a href='#' class='nav-link'>Logout </a>
                     </li>
                  </ul>
               </li>
            </li>
         </ul>
      </div>
   </div>
</nav>

<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
